<div class="row">
  <div class="col-md-6">
    <div class="content my-4">
      <!-- {{addRecipe | json}} -->
      <div *ngIf="successMsg">
        <div class="alert alert-success text-center">
          <h2>
            <i class="fa fa-check-circle"></i>
          </h2>
          <p>
            Nutirition analysis DONE !
          </p>

        </div>

      </div>
      <div *ngIf="errorMsg">
        <div class="alert alert-danger text-center">
          <h2>
            <i class="fa fa-times-circle"></i>
          </h2>
          <p>
            Error Happened! Please Enter Valid data!
          </p>

        </div>

      </div>

      <form
      #addRecipe='ngForm'
      (ngSubmit)="onSubmit(addRecipe)">

        <div class="form-group">
          <label for="recipeName">
            Recipe Title:
          </label>

          <input
          type="text"
          name="recipeName"
          id="recipeName"
          #recipeName='ngModel'
          name='recipeName'
          ngModel
          placeholder="Recipe Name ex: Pizza"
          (keyup)="closeAlert()"
          required
          [class.invalid]='recipeName.invalid || recipeName.touched'
          class="form-control">

          <!-- Validation Message -->
          <small
            class="text-danger"
            [class.d-none]='recipeName.valid || recipeName.untouched'>
            This input is required!
          </small>
          <!-- Validation Message -->

        </div>


        <div class="form-group">
          <label for="receipeContent">
            Recipe Ingredients:
          </label>
          <textarea
          name="receipeContent"
          id="receipeContent"
          cols="30"
          rows="10"
          placeholder="Recipe ingredients ex: 1 cup flour "
          #recipeContent = 'ngModel'
          name='recipeContent'
          ngModel
          [class.invalid]='recipeName.invalid || recipeName.touched'
          class="form-control"
          required
          ></textarea>

          <!-- Validation Message -->

            <small
              class="text-danger"
              [class.d-none]='recipeContent.valid || recipeContent.untouched'>
              This input is required!
            </small>
          <!-- Validation Message -->


        </div>


        <div class="text-right">
          <button
          class="btn btn-primary ml-auto"
          type="submit"
          [disabled]="!addRecipe.valid"
          (click)="onSubmit"
          > Analyze Recipe
          <i class="fa fa-utensils"></i>
        </button>
        </div>
      </form>

    </div>

  </div>

  <div class="col-md-6">
    <app-nutrition-data-table [recipeInfo]='recipeData'></app-nutrition-data-table>
  </div>

</div>
